body{
    background-color: lightcoral;
}

#score{
    font-size: medium;
    margin-left: 10px;
    float: left;
}

#timer{
    font-size: medium;
    margin-right: 20px;
    float: right;
}

#sketch{
    color:brown;

}
